<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Refugee Resettlement Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--    <link rel="stylesheet" type="text/css" href="static/CSS/main.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-custom" style="height: 50px; margin: 20px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">LOGO</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active" style="font-size: 40px"><a href="/home">Home</a></li>
      <li style="font-size: 40px"><a href="/about">About</a></li>
      <li style="font-size: 40px"><a href="/refugeeform">Form</a></li>
    </ul>
  </div>
</nav>

<div class="container" style="width: 700px; margin-left: 100px; margin-top: 50px; float:left">
    <h1 style="font-size:90px"> The Refugee Resettlement Project</h1>
</div>

<div class="container" style="width: 200px; float:left; margin-top: 100px; margin-left: 200px">
    <p>description</p>
    <a href="/refugeeform" target="_self">
    <button type="submit">Go To Form</button>
    </a>
</div>

<div class="container" style="width: 200px; float:left; margin-top: 400px; margin-left: 50px">
    <a href="/about"><h1>About Project</h1></a>
</div>

<div class="container" style="width: 200px; float:left; margin-top: 400px; margin-left: 50px">
    <a href="/refugeeform"><h1>Form</h1></a>
</div>

</body>
</html>